body {
    font-weight: bold;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ol, ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header a, footer a {
    &:hover {
        opacity: .7;
    }
}

.sans {
    font-family: 'Noto Sans TC', sans-serif;
}

.saira {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.shrikhand {
    font-family: 'Shrikhand', cursive;
}

.letter-spacing {
    letter-spacing: 1em;
}

.priRadialGradientBg {
    @include radial-gradient(#28085c, #000000);
}

.secRadialGradientBg {
    @include radial-gradient(#000000, #28085c);
}

.zoomInHover {
    transform: scale(1,1);
    transition: all .5s ease-out;
    &:hover {
        transform: scale(1.2,1.2);
    }
}