body {
    font-weight: bold;
}

a {
    display: block;
    &:hover {
        opacity: 0.7;
    }
}

img {
    max-width: 100%;
    object-fit: cover;
}

ol, ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}


.sans {
    font-family: 'Noto Sans TC', sans-serif;
}

.saira {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.shrikhand {
    font-family: 'Shrikhand', cursive;
}

.letter-spacing {
    letter-spacing: 1em;
}

.priRadialGradientBg {
    @include radial-gradient(#28085c, #000000);
}

.secRadialGradientBg {
    @include radial-gradient(#000000, #28085c);
}