<footer>
  <div
    class="container d-flex justify-content-between align-items-center text-dark py-md-12"
  >
    <div class="div">
      <p class="shrikhand fst-italic fs-md-8">ALPHABOX+</p>
      <p style="letter-spacing: 0.1em">Copyright © 2023 Hexschool.</p>
    </div>
    <span class="material-symbols-outlined fs-20 mb-2 mb-md-0">
      emergency
    </span>
    <ul class="d-flex gap-6">
      <li><a class="text-dark" href="#">關於我們</a></li>
      <li><a class="text-dark" href="#">產品資訊</a></li>
      <li><a class="text-dark" href="#">常見問題</a></li>
      <li><a class="text-dark" href="#">隱私政策</a></li>
    </ul>
  </div>
</footer>
