<header class="bg-primary">
  <div
    class="container d-flex justify-content-between align-items-center py-md-4"
  >
    <a href="../pages/index.html">
      <h1 class="logo shrikhand fw-normal fst-italic">ALPHABOX+</h1>
    </a>
    <nav>
      <ul class="d-flex">
        <li class="me-md-10">
          <a href="#">產品</a>
        </li>
        <li class="me-md-10">
          <a href="#">關於我們</a>
        </li>
        <li class="me-md-10">
          <a href="#">最新消息</a>
        </li>
        <li class="me-md-10">
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">聯絡我們</a>
        </li>
      </ul>
    </nav>
    <ul class="d-flex align-items-center">
      <li><a class="me-md-6" href="#">註冊</a></li>
      <li><a class="me-md-8" href="#">登入</a></li>
      <li>
        <button
          class="btn btn-white d-flex align-items-center text-dark px-4 py-2"
          type="button"
        >
          <span class="material-symbols-outlined me-1"> point_scan </span>訂閱
        </button>
      </li>
    </ul>
  </div>
</header>
