.indexNews {
  @include pad {
    display: flex !important;
    flex-direction: column;
    justify-content: end;
    height: 196px;
  }
}

.indexStudio {
  @include pad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 196px;
  }
}

.indexHomeASideImg {
  height: 351px;
  object-fit: cover;
  @include pad {
    height: 676px;
  }
}

.indexHomeCenterImg {
  height: 351px;
  object-fit: cover;
  @include pad {
    height: 580px;
  }
}

.linearGradientRight {
  @include gradient-x($primary-300, $primary-600);
}

.linearGradientLeft {
  @include gradient-x($primary-600, $primary-300);
}


.indexHomeBg {
  background: url('/assets/images/home_background.png'), url('/assets/images/carousel_background.png'), radial-gradient(circle at center,#300871,#000);
  background-size: 100% 960px, 948px 1089px, 100% 100%;
  background-position: top left, bottom left, center center;
  background-repeat: no-repeat;
}

.indexFullLine {
  border-bottom: 1px solid white;
  margin: 0 -12px;

  @include pad {
    margin: 0 -80px;
  }
}

.carousel-control-prev {
  background: none;
  position: static;

  @include pad {
    margin-right: 52px;
  }
}

.carousel-control-next {
  background: none;
  position: static;

  @include pad {
    margin-left: 52px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
  width: 180px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-inner {
  height: 351px;

  @include pad {
    height: 560px;
  }
}

.carousel-item img {
  height: 351px;
  width: 351px;

  @include pad {
    height: 1296px;
    height: 560px;
  }
}

.card-body {
  padding-top: 32px;
  padding-bottom: 32px;

  @include pad {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.share {
  .share-swiper {
    .swiper-wrapper {
      height: 416px;
    }
  }
  .swiper-scrollbar {
    background: rgba(255, 255, 255, 0.2);
  }
  .swiper-scrollbar-drag {
    background: #ffffff !important;
  }
}

.share {
  &-card {
    padding: 24px;
    background-color: #380c7e;
    color: #ffffff;
    min-height: 351px;
    min-width: 351px;

    @include pad {
      padding: 40px;
      max-height: 416px;
      max-width: 416px;
    }
  }
}

.lineEllipse {
    width: 124px;
    height: 12px;
    background-color: white;
    border-radius: 10px;
}

.indexContactBtn {
  width: 351px;
  @include pad {
    width: 416px;
  }
}

.aiIntroCardContent {
  background-color: #000;
  transition: 0.5s;
  &:hover {
    background-color: #00000080;
  }
}